{% extends 'base.html' %}
{% block content %}

<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2>Users</h2>
                <hr />
                <div class="card mb-4">

                    <div class="card-body">

                        <table class="table table-bordred table-striped text-center mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">User ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>

                            {% for u in template_data.users %}
                            <tbody>
                                <tr>
                                    <td>{{ u.id }}</td>
                                    <td>{{ u.user }}</td>
                                    
                                   <td>
                                        {% if u.user.is_superuser %}
                                                Superuser
                                        {% else %}
                                            {% if u.user.is_staff %}
                                                Staff
                                            {% else %}
                                                User
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                    <td>
                                        
                                        {% if user.is_superuser %}
                                            <form action="{% url 'accounts.remove_user' user.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-danger mb-2">
                                                Delete Account
                                            </button> 
                                        </form>
                                        {% else %}
                                            {% if u.user.is_staff %}
                                                <button class="btn btn-outline-dark mb-2">
                                                    Cannot Delete Users
                                                </button> 
                                            {% else %}
                                            <form action="{% url 'accounts.remove_user' user.id %}" method="POST">
                                                {% csrf_token %}
                                                <button class="btn btn-danger mb-2">
                                                    Delete User
                                                </button> 
                                            </form>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                     
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}